body{
    color: #333333;
    background-color: #f9f9f9;
}

h1, h2, h3, h4{
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #404040;
    color: #f1f1f1;
}

.header h1{
    font-size: 18px;
    display: inline-block;
    font-weight: 100;
    margin-top: 12px;
    margin-left: .5em;
}

.header img{
    height: 22px;
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 8px;
}

.message-area{
    width: 100%;
    z-index: 100;
    position: fixed;
    top: -30px;
    background-color: #dff0d8;
    color: #3c763d;
    font-size: 13px;
    transition: all .4s;
    visibility: hidden;
    opacity: 0;
}

.messageGreen{
    background-color: #dff0d8;
    color: #3c763d;
}

.messageYellow{
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.visible{
    top:0px;
    visibility: visible;
    opacity: 1;
}

.text-sm{
    font-size: 12px;
    color: #555555;
}

.new-note-form{
    max-width: 100%;
}

.new-note-content{
    width: 100%;
    min-height: 400px;
    border: solid 1px #DDDDDD;
    padding: 2em;
    margin-top: 6px;
    border-radius: 6px;
}

.new-note-content:focus{
    outline:none;
    border-bottom: solid 1px #DDDDDD;
    border-left:solid 1px #DDDDDD;
    border-right:solid 1px #DDDDDD;
}

.respective-note{
    padding: 2em 2em 1em 2em;
    margin-top: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    background-color: #ffffff;
}

.respective-note pre{
    background-color: #ffffff;
    padding:0;
    margin:0;
    border: none;

}

.footer{
    height: 30px;
}
