body{
    color: #333333;
    background-color: #f9f9f9;
}

h1, h2, h3, h4{
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #404040;
    color: #f1f1f1;
}

.header h1{
    font-size: 18px;
    display: inline-block;
    font-weight: 100;
    margin-top: 12px;
    margin-left: .5em;
}

.header img{
    height: 22px;
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 8px;
}

.message-area{
    width: 100%;
    z-index: 100;
    position: fixed;
    top: -30px;
    background-color: #dff0d8;
    color: #3c763d;
    font-size: 13px;
    transition: all .4s;
    visibility: hidden;
    opacity: 0;
}

.messageGreen{
    background-color: #dff0d8;
    color: #3c763d;
}

.messageYellow{
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.visible{
    top:0px;
    visibility: visible;
    opacity: 1;
}

.text-sm{
    font-size: 12px;
    color: #555555;
}

.new-note-form{
    max-width: 100%;
}

.new-note-content{
    width: 100%;
    border: none;
    min-height: 400px;
    padding: 2em;
    margin-top: 6px;
}

.new-note-content:focus{
    outline:none;
    border: none;
}

.respective-note{
    padding: 30px;
    border-bottom: 1px dashed #e1e1e1;
}


.respective-note pre{
    background-color: inherit;
    padding:0;
    margin:0;
    border: none;

}

.notes-top{
    padding: 10px 20px;
    border-bottom: 1px dashed #e1e1e1;
}

.notes-top h2{
    font-size: 12px;
    color: #555555;
    padding: .2em;
    margin: .2em;
}

.footer{
    height: 30px;
}

.main .container{
    background-color: #ffffff;
    border-radius: 6px;
    border: solid 1px #E1e1e1;
    margin-top: 12px;
    padding-bottom: 12px;
}

.savedNotes .container{
    border: 1px solid #E1E1E1;
    border-radius: 6px;
    margin-top: 12px;
    background-color: #ffffff;
}

.respective-note ul{
    padding-left: 0;
}

.respective-note li{
    line-height: 2.5em;
    font-size: 12px;
    color: #555555;
    list-style: none;
}

.saveButtonArea{
    margin-top: 12px;
    padding-bottom: 12px;
}

.saveButtonArea .col-md-12{
    padding-right: 0;
}

.notes-bottom{
    height: 30px;
}
